---
import { Picture } from "@astrojs/image/components";
import {
	getVideoIds,
	getVideoDetails,
} from "../../../helpers/get-videos-summary";
import BaseLayout from "../../../layouts/base-layout.astro";
import { FilmCategories } from "../../../types/film-categories";

export const getStaticPaths = async () => {
	const videoIds = await getVideoIds();

	return videoIds.map((x) => ({
		params: { filmId: x },
	}));
};

const { filmId } = Astro.params;

const filmDetails = await getVideoDetails(filmId);
---

<BaseLayout title={filmDetails?.title ?? ""}>
	<div class='container'>
		<div class='video-wrapper'>
			<iframe
				width='560'
				height='315'
				src={`https://www.youtube.com/embed/${filmDetails.video_id}`}
				title='YouTube video player'
				frameborder='0'
				allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
				allowfullscreen></iframe>
		</div>
		<div class='content'>
			<div class='title-cont'>
				<h1>{filmDetails.title}</h1>
				<p>
					{FilmCategories[filmDetails.category as never]} ・ {
						filmDetails.year
					}
				</p>
			</div>
			<div class='role'>My Role: {filmDetails.role}</div>
			<div class='desc clamped'>
				<div class='yt-desc' set:html={filmDetails.description} />
			</div>
			<button class='show-more'>Show More</button>
		</div>
		{
			filmDetails.images && filmDetails.images.length > 0 && (
				<div class='film-images'>
					<h2 class='stills-title'>Film Stills</h2>
					<div class='images-conatiner'>
						{filmDetails.images.map((image) => (
							<Picture
								src={image.imageUrl}
								class='img-still'
								widths={[1000]}
								formats={["avif", "webp", "jpg"]}
								alt={filmDetails.title ?? ""}
								aspectRatio={image.aspectRatio}
								fit='contain'
							/>
						))}
					</div>
				</div>
			)
		}
	</div>
</BaseLayout>

<script>
	const descEl: HTMLDivElement | null = document.querySelector(".desc");
	const showMoreButton: HTMLButtonElement | null =
		document.querySelector(".show-more");

	if (showMoreButton) {
		if (descEl?.clientHeight !== descEl?.scrollHeight) {
			showMoreButton.style.display = "block";
		} else {
			showMoreButton.style.display = "none";
		}

		showMoreButton.addEventListener("click", () => {
			if (!descEl) return;

			descEl.classList.toggle("clamped");

			if (descEl.classList.contains("clamped")) {
				showMoreButton.textContent = "Show More";
			} else {
				showMoreButton.textContent = "Show Less";
			}
		});
	}
</script>

<style lang='scss'>
	.container {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.content {
		@media screen and (max-width: 800px) {
			padding: 0 2rem;
		}
	}

	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%;
		/* 16:9 */
		padding-top: 25px;
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.title-cont {
		margin-bottom: 2em;
		margin-top: 2em;

		p {
			padding: 0;
			margin: 0;
			color: #9d9d9d;
		}

		h1 {
			padding: 0;
			margin: 0;
		}
	}

	.desc {
		display: -webkit-box;
		-webkit-box-orient: vertical;

		&.clamped {
			line-clamp: 3;
			-webkit-line-clamp: 3;
			overflow-y: hidden;
		}

		&::-webkit-scrollbar {
			width: 0.6rem;
			height: 0.6rem;
		}

		&::-webkit-scrollbar-track {
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			border: 1px solid transparent;
			border-radius: 10px;
			background-color: #8b8b8b;
			background-clip: content-box;
			border-left-width: 3px;
			border-right-width: 3px;

			&:hover {
				background-color: #7c7c7c;
			}
		}

		a {
			color: #a5a5ff !important;
		}
	}

	.show-more {
		cursor: pointer;
		margin-top: 0.8em;
		appearance: none;
		border: none;
		color: #8091ff;
		background-color: #000;
		padding: 0;
		font-size: 0.85rem;
	}

	.yt-desc {
		line-height: 1.3;
	}

	.role {
		color: #878787;
		margin-block-end: 0.8rem;
		font-size: 1.05rem;
	}

	.film-images {
		margin-top: 3rem;
		width: 100%;
		max-width: 1000px;
		padding-inline: 2rem;

		.stills-title {
			font-size: 1.7rem;
		}

		.images-conatiner {
			display: flex;
			flex-direction: column;
			gap: 2em;

			img {
				box-shadow: 0 0 10px 0 #fff;
			}
		}

		@media screen and (min-width: 800px) {
			padding-inline: 0;
		}
	}
</style>
